* {
  font: normal normal Montserrat;
}
/* dropdown*/
#collapsibleNavbar {
  text-align: center;
}
.nav-item {
  color: #d3d5d6;
  font-size: 16px;
}

/*----Navs bar--- */
.nav-logo {
  position: relative;
  display: inline-flex;
  list-style: none;
}
.navbar-nav {
  margin-left: 15px;
  padding: 5px;
}
.prod-nav .nav-item {
  width: 100%;
  line-height: 5px;
}
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #e9ebec;
  position: fixed;
}
.logo {
  height: 32px;
  width: 32px;
  margin-left: 30px;
}
.nav-item {
  font-size: 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #4e6e7e;
  opacity: 1;
  height: 18px;
  width: 89px;
  padding: 2px;
}
.prod-nav {
  font-size: 15px;
  text-align: left;
  letter-spacing: 0px;
  color: #219ebc;
  opacity: 3;
  height: 18px;
  width: 89px;
  list-style-type: disc;
}
.cr-btn {
  border: 1px solid #219ebc;
  border-radius: 4px;
  margin-right: 4vh;
  float: right;
  background-color: #ffffff;
  color: #219ebc;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  width: 150px;
}
#photo {
  display: none;
}
.profile {
  border: solid #219ebc 1.1px;
  max-height: 45px;
  width: 5rem;
  border-radius: 20px;
  float: right;
  padding: 5px;
  display: inline-flex;
  position: relative;
}
.profile-img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: -3px;
}
#arrow {
  transform: rotate(-90deg);
  list-style: none;
  font-size: 18px;
  color: #9aacb5;
  position: absolute;
  top: 10px;
  right: 20px;
}
.menu-btn {
  display: none;
}

/* -----Filter side------*/
.filter {
  list-style: none;
  overflow: hidden;
  margin-top: 6rem;
}
.fix {
  position: fixed;
}
#fs {
  color: #219ebc;
}
.list-item {
  margin-left: 0px;
  list-style: none;
  display: inline-flex;
  text-align: left;
}
.filter-name {
  margin-inline-start: 10px;
  color: #9aacb5;
  font-size: 14px;
}
.line {
  color: #9aacb5;
  display: flex;
}
.fil-fix {
  position: sticky;
}

/*------ phone card -----*/
.card-top {
  margin-top: 6rem;
}
.Phones-top {
  height: 230px;
  background-color: #e3f7f4;
  text-align: center;
}
.phones-bottom {
  max-height: 65px;
  max-width: 300px;
  line-height: 14x;
}
#product1 {
  background-color: #e3f7f4;
  padding: 15px;
}
#product2 {
  background-color: #ebf5f3;
  padding: 15px;
}
#product3 {
  background-color: #f7f7ed;
  padding: 15px;
}
.image {
  margin-top: 10px;
  max-height: 157px;
  max-width: 125px;
}
.phone-pixel {
  max-height: 22px;
  color: #023047;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 650;
}
.dollar {
  max-height: 10px;
  font-size: 18px;
  color: #023047;
  float: right;
  font-weight: 490;
}
.text {
  font-size: 12px;
  color: #b3c1c8;
  margin-top: -5px;
}

.rate-point {
  font-size: 12px;
  color: #b3c1c8;
  list-style: none;
  margin-top: -5px;
}
.stars {
  font-size: 12px;
  color: #ffb703;
  display: inline-flex;
  float: right;
}

.hover-cont {
  position: relative;
  padding: 0px;
  margin-left: 0px;
  margin-top: -6px;
}
.hover-part {
  position: absolute;
  top: -20px;
  padding: 0px;
}

.view-link {
  font-size: 12px;
  color: #219ebc;
  list-style: none;
  border: none;
  background-color: #ffffff;
  padding: 0px;
  text-decoration: underline;
  cursor: pointer;
}
.buy {
  text-align: center;
  border-radius: 2px;
  max-width: 100%;
  max-height: 40vh;
}
.buy-btn {
  border: none;
  background-color: #219ebc;
  color: #ffffff;
  font-size: 11px;
  border-radius: 3px;
  float: right;
  margin-top: -25px;
  padding: 9px 15px;
  max-width: 90px;
}

/*hover part*/
.view {
  display: none;
}
.star-rate {
  float: right;
}
.hide {
  display: inline-block;
}
.hoverproduct {
  margin-bottom: 26px;
  column-gap: 1px;
}
.hoverproduct:hover .hide {
  background-color: #219ebc;
  display: none;
}
.hoverproduct:hover .view {
  display: inline-block;
}

/*footer*/
.foot {
  display: inline-flex;
  text-align: center;
  padding: 1.5rem;
  justify-content: center;
}
.foot-prodect {
  text-align: center;
  padding: 30px;
}
.star-icon {
  font-size: 5px;
}
.end-prod {
  list-style: none;
  display: inline-flex;
  position: absolute;
  margin-top: 10px;
}
.end {
  color: #b3c1c8;
  font-size: 18px;
}
.img-star {
  max-height: 20px;
}
.footer {
  border-top: 1.3px solid #e7e9ea;
  display: inline-flex;
  padding: 10px;
}
.foot-text {
  font-size: 12px;
  color: #b3c1c8;
}
.footer p {
  margin-top: 2vh;
}
.check {
  color: #219ebc;
}

input[type="checkbox"] {
  accent-color: #219ebc;
}

/* scrol*/
.card-fix {
  position: static;
}
.card-top {
  height: 100vh;
  overflow-y: scroll;
}
.card-top::-webkit-scrollbar {
  display: none;
}
/*===============*/
@media only screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    display: flex;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #9aacb5;
  }

}
